@charset "UTF8";

body {
    background-color: rgb(215, 246, 209);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color:rgba(61, 162, 41, 0.874);
}

#principal {
    text-align: center;
    background-color:rgba(61, 162, 41, 0.874) ;
    color: white;
}

h2 {
color:rgba(88, 112, 84, 0.874);
    
}

.basico {
    color:rgba(88, 112, 84, 0.874);
}

.intermediario {
       color:rgba(112, 111, 84, 0.874);

}

.avancado {
    color:rgba(112, 85, 84, 0.874);
}